# 图像生成 API 配置

# API Key
ARK_API_KEY=

# 自定义 API 地址
ARK_BASE_URL=

# 使用的模型名称
ARK_MODEL=

# model="doubao-seedream-4-0-250828",
# model="doubao-seedream-3-0-t2i-250415",
# model = "doubao-seedream-4-5-251128",
